@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h2>@T("Account.PasswordRecovery")</h2>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result alert alert-success my-3">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset col-12">
                    <div class="form-fields form row">
                        <div class="inputs form-group col-sm-6 col-12">
                            <label class="col-form-label" asp-for="NewPassword" asp-postfix=":"></label>
                            <nop-required />
                            <input class="form-control" asp-for="NewPassword" />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="inputs form-group col-sm-6 col-12">
                            <label class="col-form-label" asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                            <nop-required />
                            <input class="form-control" asp-for="ConfirmNewPassword" />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons my-3">
                    <button type="submit" name="set-password" class="btn btn-primary new-password-button">
                        @T("Account.PasswordRecovery.ChangePasswordButton")
                    </button>
                </div>
            </form>
        }
    </div>
</div>