@model RegisterModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<div class="page inner-page registration-page">
    <div class="page-title text-center">
        <h3 class="w-100 text-center">@T("Account.Register")</h3>
    </div>
    <div class="page-body">
        <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
            <div>
                <div asp-validation-summary="ModelOnly" class="message-error alert alert-danger col-12"></div>
                <div class="fieldset">
                    <h5 class="title text-center">
                        @T("Account.YourPersonalDetails")
                    </h5>
                    <div class="form-fields">
                        <div class="inputs form-group">
                            <div class="row">
                                <div class="col-12">
                                    <label class="col-form-label font-weight-bold" asp-for="FirstName" asp-postfix=":"></label>
                                    <nop-required />
                                </div>
                                <div class="col-12">
                                    <input asp-for="FirstName" class="form-control" />
                                </div>
                                <div class="12">
                                    <span class="col-12" asp-validation-for="FirstName"></span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label class="col-form-label font-weight-bold" asp-for="LastName" asp-postfix=":"></label>
                                    <nop-required />
                                </div>
                                <div class="col-12">
                                    <input asp-for="LastName" class="form-control" />
                                </div>
                                <div class="col-12">
                                    <span asp-validation-for="LastName"></span>
                                </div>
                            </div>
                        </div>
                        @if (Model.DateOfBirthEnabled)
                        {
                    <div class="inputs date-of-birth form-group">
                        <label class="col-form-label font-weight-bold">@T("Account.Fields.DateOfBirth"):</label>
                        @if (Model.DateOfBirthRequired)
                        {
                    <nop-required />}
                        <nop-date-picker class="form-control" asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                         asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                         asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                         asp-begin-year="@(DateTime.Now.Year - 110)"
                                         asp-end-year="@(DateTime.Now.Year)"
                                         asp-selected-day="@Model.DateOfBirthDay"
                                         asp-selected-month="@Model.DateOfBirthMonth"
                                         asp-selected-year="@Model.DateOfBirthYear" />
                        <span asp-validation-for="DateOfBirthDay"></span>
                        <span asp-validation-for="DateOfBirthMonth"></span>
                        <span asp-validation-for="DateOfBirthYear"></span>
                    </div>}
                        <div class="inputs form-group">
                            <label class="col-form-label font-weight-bold" asp-for="Email" asp-postfix=":"></label>
                            <nop-required />
                            <input class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        @if (Model.EnteringEmailTwice)
                        {
                    <div class="inputs form-group">
                        <label class="col-form-label font-weight-bold" asp-for="ConfirmEmail" asp-postfix=":"></label>
                        <nop-required />
                        <input class="form-control" asp-for="ConfirmEmail" />
                        <span asp-validation-for="ConfirmEmail"></span>
                    </div>}
                        @if (Model.UsernamesEnabled)
                        {
                    <div class="inputs form-group">
                        <label class="col-form-label font-weight-bold" asp-for="Username" asp-postfix=":"></label>
                        <nop-required />
                        <input class="form-control" asp-for="Username" />
                        <span asp-validation-for="Username"></span>
                        @if (Model.CheckUsernameAvailabilityEnabled)
                        {
                    @await Html.PartialAsync("_CheckUsernameAvailability")}
                    </div>}
                        @if (Model.GenderEnabled)
                        {
                    <div class="inputs form-group">
                        <label class="col-form-label font-weight-bold">@T("Account.Fields.Gender"):</label>
                        <div class="gender">
                            <div class="male custom-control custom-radio">
                                <input class="custom-control-input" type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                <label class="forcheckbox custom-control-label" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                            </div>
                            <div class="female custom-control custom-radio">
                                <input class="custom-control-input" type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                <label class="forcheckbox custom-control-label" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                            </div>
                        </div>
                    </div>
                    }
                    </div>
                </div>
                @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                {
                    <div class="fieldset ">
                        <h5 class="title text-center">
                            @T("Account.CompanyDetails")
                        </h5>
                        <div class="form-fields">
                            @if (Model.CompanyEnabled)
                            {
                                <div class="inputs form-group">
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="col-form-label font-weight-bold" asp-for="Company" asp-postfix=":"></label>
                                            @if (Model.CompanyRequired)
                                            {
                                        <nop-required />}
                                        </div>
                                        <div class="col-12">
                                            <input class="form-control" asp-for="Company" />
                                        </div>
                                        <div class="col-12">
                                            <span asp-validation-for="Company"></span>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.DisplayVatNumber)
                            {
                                <div class="inputs col">
                                    <label class="col-form-label font-weight-bold" asp-for="VatNumber" asp-postfix=":"></label>
                                    <input class="form-control" asp-for="VatNumber" />
                                    <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.StreetAddressEnabled ||
                  Model.StreetAddress2Enabled ||
                  Model.ZipPostalCodeEnabled ||
                  Model.CityEnabled ||
                  Model.CountyEnabled ||
                  Model.CountryEnabled)
                {
                    <div class="fieldset">
                        <h5 class="title text-center">
                            <strong>@T("Account.YourAddress")</strong>
                        </h5>
                        <div class="form-fields form-row row">
                            @if (Model.StreetAddressEnabled)
                            {
                                <div class="inputs form-group col">
                                    <label class="col-form-label font-weight-bold" asp-for="StreetAddress" asp-postfix=":"></label>
                                    @if (Model.StreetAddressRequired)
                                    {
                                        <nop-required />
                                    }
                                    <input class="form-control" asp-for="StreetAddress" />
                                    <span asp-validation-for="StreetAddress"></span>
                                </div>
                            }
                            @if (Model.StreetAddress2Enabled)
                            {
                                <div class="inputs form-group col">
                                    <label class="col-form-label font-weight-bold" asp-for="StreetAddress2" asp-postfix=":"></label>
                                    @if (Model.StreetAddress2Required)
                                    {
                                        <nop-required />
                                    }
                                    <input class="form-control" asp-for="StreetAddress2" />
                                    <span asp-validation-for="StreetAddress2"></span>
                                </div>
                            }
                        </div>
                        <div class="form-fields form-row row">
                            @if (Model.ZipPostalCodeEnabled)
                            {
                                <div class="inputs col form-group">
                                    <label class="col-form-label font-weight-bold" asp-for="ZipPostalCode" asp-postfix=":"></label>
                                    @if (Model.ZipPostalCodeRequired)
                                    {
                                        <nop-required />
                                    }
                                    <input class="form-control" asp-for="ZipPostalCode" />
                                    <span asp-validation-for="ZipPostalCode"></span>
                                </div>
                            }
                            @if (Model.CountyEnabled)
                            {
                                <div class="inputs col form-group">
                                    <label class="col-form-label font-weight-bold" asp-for="County" asp-postfix=":"></label>
                                    @if (Model.CountyRequired)
                                    {
                                        <nop-required />
                                    }
                                    <input class="form-control" asp-for="County" />
                                    <span asp-validation-for="County"></span>
                                </div>
                            }
                        </div>
                        <div class="form-fields form-row row">
                            @if (Model.CityEnabled)
                            {
                                <div class="inputs col form-group">
                                    <label class="col-form-label font-weight-bold" asp-for="City" asp-postfix=":"></label>
                                    @if (Model.CityRequired)
                                    {
                                        <nop-required />
                                    }
                                    <input class="form-control" asp-for="City" />
                                    <span asp-validation-for="City"></span>
                                </div>
                            }
                            @if (Model.CountryEnabled)
                            {
                                <div class="inputs col form-group">
                                    <label class="col-form-label font-weight-bold" asp-for="CountryId" asp-postfix=":"></label>
                                    @if (Model.CountryRequired)
                                    {
                                        <nop-required />
                                    }
                                    <select class="form-control" asp-for="CountryId" asp-items="Model.AvailableCountries"
                                            data-trigger="country-select"
                                            data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                            data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                            data-loading="#states-loading-progress"></select>
                                    <span asp-validation-for="CountryId"></span>
                                </div>
                            }
                        </div>
                        <div class="form-fields form-row row">
                            @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                            {
                                <div class="inputs  form-group">
                                    <label class="col-form-label font-weight-bold" asp-for="StateProvinceId" asp-postfix=":"></label>
                                    @if (Model.StateProvinceRequired)
                                    {
                                        <nop-required />
                                    }
                                    <select class="form-control" asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                    <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                    <span asp-validation-for="StateProvinceId"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.PhoneEnabled || Model.FaxEnabled)
                {
                    <div class="fieldset">
                        <h5 class="title text-center">
                          @T("Account.YourContactInformation")
                        </h5>
                        <div class="form-fields row form-row">
                            @if (Model.PhoneEnabled)
                            {
                                <div class="inputs col form-group">
                                    <label class="col-form-label font-weight-bold" asp-for="Phone" asp-postfix=":"></label>
                                    @if (Model.PhoneRequired)
                                    {
                                        <nop-required />
                                    }
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            }
                            @if (Model.FaxEnabled)
                            {
                                <div class="inputs col form-group">
                                    <label class="col-form-label font-weight-bold" asp-for="Fax" asp-postfix=":"></label>
                                    @if (Model.FaxRequired)
                                    {
                                        <nop-required />
                                    }
                                    <input class="form-control" asp-for="Fax" />
                                    <span asp-validation-for="Fax"></span>
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                {
                    <div class="fieldset">
                        <h5 class="title text-center">
                           @T("Account.Options")
                        </h5>
                        <div class="form-fields row form-row">
                            @if (Model.NewsletterEnabled)
                            {
                                <div class="inputs col-12 form-group">
                                    <div class="custom-checkbox custom-control">
                                        <input asp-for="Newsletter" class="custom-control-input" />
                                        <label class="custom-control-label font-weight-bold" asp-for="Newsletter"></label>
                                        <span asp-validation-for="Newsletter"></span>
                                    </div>
                                </div>
                            }
                            @if (Model.CustomerAttributes.Count > 0)
                            {
                                @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                            }
                        </div>
                    </div>
                }
                @if (Model.AllowCustomersToSetTimeZone)
                {
                    <div class="fieldset">
                        <h5 class="title text-center">
                           @T("Account.Preferences")
                        </h5>
                        <div class="form-fields form-row row">
                            <div class="inputs col form-group">
                                <label class="col-form-label" asp-for="TimeZoneId" asp-postfix=":"></label>
                                <select class="form-control" asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                <span asp-validation-for="TimeZoneId"></span>
                            </div>
                        </div>
                    </div>
                }
                <div class="fieldset ">
                    <h5 class="title text-center">
                      @T("Account.YourPassword")
                    </h5>
                    <div class="input form-group">
                        <div class="row">
                            <div class="col-12">
                                <label class="col-form-label font-weight-bold" asp-for="Password" asp-postfix=":"></label>
                                <nop-required />
                            </div>
                            <div class="col-12">
                                <input class="form-control" asp-for="Password" />
                            </div>
                            <div class="col-12">
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="inputs form-group">
                            <div class="row">
                                <div class="col-12">
                                    <label class="col-form-label font-weight-bold" asp-for="ConfirmPassword" asp-postfix=":"></label>
                                    <nop-required />
                                </div>
                                <div class="col-12">
                                    <input class="form-control" asp-for="ConfirmPassword" />
                                </div>
                                <div class="col-12">
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                            </div>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                        @if (Model.HoneypotEnabled)
                        {
                            @Html.Raw(Html.GenerateHoneypotInput())
                        }
                    </div>
                </div>

                @if (Model.AcceptPrivacyPolicyEnabled || Model.GdprConsents.Count > 0)
                {
                    <div class="fieldset">
                        <h5 class="title text-ceter">
                            @T("Account.UserAgreement")
                        </h5>
                        <div class="form-fields">
                            @if (Model.AcceptPrivacyPolicyEnabled)
                            {
                                <script asp-location="Footer">
                                $(document).ready(function() {
                                    $('#register-button').on('click', function() {
                                        if ($('#accept-consent').is(':checked')) {
                                            //do some stuff
                                            return true;
                                        } else {
                                            //just show validation errors, don't post
                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                            return false;
                                        }
                                    });
                                });
                                </script>
                                <div class="inputs accept-consent custom-control custom-checkbox">
                                    <input id="accept-consent" type="checkbox" name="accept-consent" class="custom-control-input" />
                                    <label for="accept-consent" class="custom-control-label">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                    @if (Model.AcceptPrivacyPolicyPopup)
                                    {
                                        <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                        <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#read-privacyinfo').on('click',
                                            function(e) {
                                                displayPopupContentFromUrl(
                                                    '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
                                                    '@T("Account.Fields.AcceptPrivacyPolicy")');
                                            });
                                    });
                                        </script>
                                    }
                                    else
                                    {
                                        <a class="read" id="read-privacyinfo" href="@Url.RouteUrl("Topic", new {SeName = Html.GetTopicSeName("privacyinfo") })">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                    }
                                </div>
                            }

                            @if (Model.GdprConsents.Count > 0)
                            {
                                foreach (var consent in Model.GdprConsents)
                                {
                                    if (consent.IsRequired)
                                    {
                                        <script asp-location="Footer">
                                    $(document).ready(function() {
                                        $('#register-button').on('click', function() {
                                            if ($('#consent@(consent.Id)').is(':checked')) {
                                                    //do some stuff
                                                    return true;
                                                } else {
                                                    //just show validation errors, don't post
                                               alert('@Html.Raw(JavaScriptEncoder.Default.Encode(consent.RequiredMessage))');
                                                    return false;
                                                }
                                            });
                                    });
                                        </script>
                                    }
                                    <div class="inputs accept-consent custom-control custom-checkbox">
                                        <input class="custom-control-input" id="consent@(consent.Id)" type="checkbox" name="consent@(consent.Id)" checked="@consent.Accepted" />
                                        <label class="custom-control-label" for="consent@(consent.Id)">@consent.Message</label>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                }
            </div>
            <div class="buttons w-100  text-center">
                <button type="submit" id="register-button" class="btn btn-orange register-next-step-button" name="register-button">
                    @T("Account.Register.Button")
                </button>
            </div>
        </form>
        <div class="external-authentication">
            @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication")
        </div>
    </div>
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $("#login-nav").remove();
    });
</script>