@model Nop4you.Plugin.Widgets.SwiperSlider.Models.ConfigurationModel
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;

<div class="form-group">
    <div class="col-md-3">
        <nop-override-store-checkbox asp-for="WidgetZone_OverrideForStore" asp-input="WidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
        <nop-label asp-for="WidgetZone" />
    </div>
    <div class="col-md-9">
        <nop-select asp-for="WidgetZone" asp-items="Model.WidgetZones" />
        <span asp-validation-for="WidgetZone"></span>
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        <nop-override-store-checkbox asp-for="CateroryWidgetZone_OverrideForStore" asp-input="CateroryWidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
        <nop-label asp-for="CateroryWidgetZone" />
    </div>
    <div class="col-md-9">
        <nop-select asp-for="CateroryWidgetZone" asp-items="Model.CateroryWidgetZones" />
        <span asp-validation-for="CateroryWidgetZone"></span>
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        <nop-override-store-checkbox asp-for="ManufacturerWidgetZone_OverrideForStore" asp-input="ManufacturerWidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
        <nop-label asp-for="ManufacturerWidgetZone" />
    </div>
    <div class="col-md-9">
        <nop-select asp-for="ManufacturerWidgetZone" asp-items="Model.ManufacturerWidgetZones" class="dropdownlists" />
        <span asp-validation-for="ManufacturerWidgetZone"></span>
    </div>
</div>

<div class="form-group">
    <div class="col-md-3">
        <nop-override-store-checkbox asp-for="widgetZoneOwn_OverrideForStore" asp-input="widgetZoneOwn" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
        <nop-label asp-for="widgetZoneOwn" />
    </div>
    <div class="col-md-9">
        <nop-editor asp-for="widgetZoneOwn" />
        <span asp-validation-for="widgetZoneOwn"></span>
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        <nop-override-store-checkbox asp-for="categoryWidgetZoneOwn_OverrideForStore" asp-input="categoryWidgetZoneOwn" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
        <nop-label asp-for="categoryWidgetZoneOwn" />
    </div>
    <div class="col-md-9">
        <nop-editor asp-for="categoryWidgetZoneOwn" />
        <span asp-validation-for="categoryWidgetZoneOwn"></span>
    </div>
</div>
<div class="form-group">
    <div class="col-md-3">
        <nop-override-store-checkbox asp-for="ManufacturerWidgetZoneOwn_OverrideForStore" asp-input="ManufacturerWidgetZoneOwn" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
        <nop-label asp-for="ManufacturerWidgetZoneOwn" />
    </div>
    <div class="col-md-9">
        <nop-editor asp-for="ManufacturerWidgetZoneOwn" />
        <span asp-validation-for="ManufacturerWidgetZoneOwn"></span>
    </div>
</div>