@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;

@await Component.InvokeAsync("NewsletterBox")
<footer>
    <div class="footer-section">
        <div class="footer-toptriangle"></div>
        <div class="footer-top-text">
            WE'RE ALWAYS HERE TO HELP
        </div>
        <div class="footer-bottom-text">
            WE'RE ALWAYS HERE TO HELP
        </div>
    </div>
    <div class="footer-upper py-5">
        <div class="container">
            <div class="row">
                <div class="footer-block information col-lg-3 col-md-3 col-12">
                    <h5 class="title">
                        <strong>@T("Footer.Information")</strong>
                    </h5>
                    <ul class="list">
                        @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                        {
            <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>}
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
            <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>}
                        @if (Model.DisplayContactUsFooterItem)
                        {
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>}
                    </ul>
                </div>
                <div class="footer-block customer-service col-lg-3 col-md-3 col-12">
                    <h5 class="title">
                        <strong>@T("Footer.CustomerService")</strong>
                    </h5>
                    <ul class="list">
                        @if (Model.DisplayProductSearchFooterItem)
                        {
            <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>}
                        @if (Model.NewsEnabled && Model.DisplayNewsFooterItem)
                        {
            <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>}
                        @if (Model.BlogEnabled && Model.DisplayBlogFooterItem)
                        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>}
                        @if (Model.ForumEnabled && Model.DisplayForumsFooterItem)
                        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>}
                        @if (Model.RecentlyViewedProductsEnabled && Model.DisplayRecentlyViewedProductsFooterItem)
                        {
            <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>}
                        @if (Model.CompareProductsEnabled && Model.DisplayCompareProductsFooterItem)
                        {
            <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>}
                        @if (Model.NewProductsEnabled && Model.DisplayNewProductsFooterItem)
                        {
            <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>}
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                        {
            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>}
                        @if (Model.AllowCustomersToCheckGiftCardBalance)
                        {
            <li><a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a></li>}
                    </ul>
                </div>
                <div class="footer-block my-account col-lg-3 col-md-3 col-12">
                    <h5 class="title">
                        <strong>@T("Footer.MyAccount")</strong>
                    </h5>
                    <ul class="list">
                        @if (Model.DisplayCustomerInfoFooterItem)
                        {
            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>}
                        @if (Model.DisplayCustomerOrdersFooterItem)
                        {
            <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>}
                        @if (Model.DisplayCustomerAddressesFooterItem)
                        {
            <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>}
                        @if (Model.ShoppingCartEnabled && Model.DisplayShoppingCartFooterItem)
                        {
            <li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>}
                        @if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
                        {
            <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>}
                        @if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
                        {
            <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>}
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                        {
            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>}
                    </ul>
                </div>
                <div class="footer-block follow-us col-lg-3 col-md-3 col-12">
                    <div class="social">
                        <h5 class="title">
                            <strong>@T("Footer.FollowUs")</strong>
                        </h5>
                        @await Component.InvokeAsync("SocialButtons")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower py-3">
        <div class="container">
            <div class="row">
                <div class="col-12 d-inline-flex justify-content-between">
                    <div class="footer-info">
                        <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                        @if (Model.DisplayTaxShippingInfoFooter)
                        {
                            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
            <span class="footer-tax-shipping">
                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
            </span>}
                    </div>
                    @if (!Model.HidePoweredByNopCommerce)
                    {
        <div class="footer-powered-by">
            @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                Please find more info at https://www.nopcommerce.com/copyrightremoval.aspx*@
            <span>powered by</span><a href="https://www.nopcommerce.com/"> nopCommerce</a>
        </div>}
                    @await Component.InvokeAsync("StoreThemeSelector")
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</footer>
<a href="#" id="back-to-top" title="Back to top">
    <span class="lnr linearicons-chevron-up"></span>
    <span class="sr-only">back to top</span>
</a>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>