@model ProfilePostsModel
@if (Model.Posts.Any())
{
    <div class="latest-posts">

        @foreach (var item in Model.Posts)
        {
            <div class="card custom-card mb-5">
                <div class="card-header">
                    <label><strong>@T("Profile.Topic"):</strong></label>
                    <strong>@Html.RouteLink(item.ForumTopicTitle, "TopicSlug", new { id = item.ForumTopicId, slug = item.ForumTopicSlug })</strong>
                </div>
                <div class="card-body">
                    <p>@Html.Raw(item.ForumPostText)</p>
                </div>
                <div class="card-footer">
                    <label>@T("Profile.PostedOn"):</label>
                    <span>@item.Posted</span>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="no-data">
        @T("Profile.LatestPosts.NoPosts")
    </div>
}
@{
    var pager = Html.Pager(Model.PagerModel);
}
@if (pager!=null)
{
    <nav aria-label="Page navigation">
        @pager
    </nav>
}
