@model ContactVendorModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactVendor", Model.VendorName).Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="page contact-page">
    <div class="page-title">
        <h2>@T("PageTitle.ContactVendor", Model.VendorName)</h2>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactVendorTop })
        @if (Model.SuccessfullySent)
        {
            <div class="result alert alert-success">
                @Model.Result
            </div>
        }
        else
        {
            <form asp-route="ContactVendor" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs form-group">
                            <label class="col-form-label" asp-for="FullName" asp-postfix=":"></label>
                            <nop-required />
                            <input asp-for="FullName" placeholder="@T("ContactVendor.FullName.Hint")" class="fullname form-control" />
                            <span asp-validation-for="FullName"></span>
                        </div>
                        <div class="inputs form-group">
                            <label class="col-form-label" asp-for="Email" asp-postfix=":"></label>
                            <nop-required />
                            <input asp-for="Email" placeholder="@T("ContactVendor.Email.Hint")" class="email form-control" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        @if (Model.SubjectEnabled)
                        {
                            <div class="inputs form-group">
                                <label class="col-form-label" asp-for="Subject" asp-postfix=":"></label>
                                <nop-required />
                                <input asp-for="Subject" placeholder="@T("ContactVendor.Subject.Hint")" class="subject form-control" />
                                <span asp-validation-for="Subject"></span>
                            </div>
                        }
                        <div class="inputs form-group">
                            <label class="col-form-label" asp-for="Enquiry" asp-postfix=":"></label>
                            <nop-required />
                            <textarea asp-for="Enquiry" placeholder="@T("ContactVendor.Enquiry.Hint")" class="enquiry form-control"></textarea>
                            <span asp-validation-for="Enquiry"></span>
                        </div>
                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                <nop-captcha />
                            </div>
                        }
                    </div>
                </div>
                <div class="buttons my-3">
                    <button type="submit" name="send-email" class="btn btn-primary contact-us-button">
                        @T("ContactVendor.Button")
                    </button>
                </div>
            </form>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContactVendorBottom })
    </div>
</div>
